
<nav>
  <ul>
    <li> <a routerLink="logout">Logout</a> </li>
    <li> <a routerLink="account">Account</a> </li>
    <li> <a routerLink="creategroup">Create Group</a> </li>
    <li> <a routerLink="newchannel">New Channel</a> </li>
    <li> <a routerLink="adduser">Add User</a> </li>
    <li> <a href="#">Groups</a>
      <ul class="hiddenChannels">
        <li> <a routerLink="channel1">- Group 1</a> </li>
        <li> <a routerLink="channel2">- Group 2</a> </li>
        <li> <a routerLink="channel3">- Group 3</a> </li>
      </ul>
    </li>
    <li> <a href="#">Channels</a>
      <ul class="hiddenChannels">
        <li> <a routerLink="channel1">- Channel 1</a> </li>
        <li> <a routerLink="channel2">- Channel 2</a> </li>
        <li> <a routerLink="channel3">- Channel 3</a> </li>
      </ul>
    </li>
  </ul>
</nav>
