<form [formGroup] = "registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">

    <label for="username"><b>New Username</b></label>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />

    <label for="password"><b>New Password</b></label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

    <button [disabled]="loading" class="btn btn-primary">Register</button>
    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
  </div>
</form>
